.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.login input {
  margin-bottom: 10px;
}

.welcome {
  display: flex;
  height: 7.5vh;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
}